*{
    padding: 0;
    margin: 0;
    text-align: center;
    font-family: arial;
    transition: all .5s;
    color: #333;
}
.center{
    width: 1200px;
    margin: 0 auto;
}
.clear{
    clear: both;
}
h2{
    font-size: 14px;
}
body{
    background: #f2f2f2;
}
header{
    background: #252525;
    padding: 20px;
    color: #fff;
}
header h1{
    font-size: 20px;
    text-align: left;
    float: left;
    color: #fff;
}
header a{
    color: #fff;
    float: right;
    text-decoration: none;
    font-size: 14px;
    margin-top: 4px;
    margin-right: 20px;
}
header a i{
    color: #fff;
}
main{
    padding: 40px 0;
    min-height: 800px;
}
main h1{
    font-weight: 400;
    font-size: 26px;
    text-align: left;
}
footer{
    font-size: 12px;
    padding: 10px 0;
}

/*login*/
.login{
    width: 300px;
    margin: 0 auto;
    margin-top: 100px;
    background: #fff;
    padding-bottom: 15px;
}
.login h1{
    text-align: center;
    border-bottom: solid 2px #333;
    width: 260px;
    margin:0 auto;
    padding: 25px 0 20px 0;
    margin-bottom: 20px;
}
input{
    margin: 10px 0;
    padding: 20px;
    width: 220px;
    background: #f2f2f2;
    border: none;
    font-size: 14px;
    color: gray;
}
button{
    background: #fff;
    border: #333 solid 2px;
    padding: 15px;
    width: 260px;
    font-weight: 600;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
    margin-bottom: 10px;
}
button:hover{
    background: #333;
    color: #fff;
}
::placeholder{
    font-size: 14px;
    color: silver;
}

/*store*/
.products{
    margin-top: 40px;
}
.products ul{
    margin:0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.product{
    display: block;
    text-decoration: none;
    font-size: 14px;
    width: 220px;
    background: #fff;
    padding: 5px;
    margin: 5px;
}
.product img{
    margin-bottom:10px; 
    width: 100%;
}
.product-cant{
    text-align: left;
    font-size: 12px;
    margin-top: 2px;
}
/*.product-name::before{
    content:url('http://placeimg.com/220/300/people');
}*/
.product-name{
    font-weight: 300;
}
.product-price,.product-name{
    text-align: left;
}
button.add{
    padding: 5px;
    width: 80px;
    font-size: 12px;
    margin-top: 5px;
    margin-bottom: 0;
    display: block;
}
/*cart*/
.cart ul{
    margin:0;
    padding: 0;
    list-style: none;
    width: 50%;
    margin: 0 auto;
    margin-top: 40px;
    margin-bottom: 40px;
}
.product-cart{
    display: block;
    text-decoration: none;
    font-size: 14px;
    background: #fff;
    padding: 5px;
    margin: 5px;
}
.product-cart img{
    margin-bottom:10px; 
    width: 55px;
    display: block;
    float: left;
    margin-right: 10px;
    height: 75px;
}
.product-cant{
    text-align: left;
    font-size: 12px;
    margin-top: 2px;
}
/*.product-name::before{
    content:url('http://placeimg.com/220/300/people');
}*/
.product-name{
    font-weight: 300;
}
.product-price,.product-name{
    text-align: left;
}
button.add{
    padding: 5px;
    width: 80px;
    font-size: 12px;
    margin-top: 5px;
    margin-bottom: 0;
    display: block;
}