*{
	font-family: arial;
	text-align: center;
}
button{
	background: silver;
	box-shadow: none;
	color: gray;
	padding: 10px 20px;
	border: transparent;
	cursor: pointer;
	margin-top: 10px;
	margin-bottom: 2px;
	font-weight: 800;
}
button:hover{
	background: gray;
	color: silver;
	transition: all .25s ease-in-out;
}
h2{
	color: gray;
}
p, #demo{
	color: silver;
}
#demo{
	padding: 20px;
	width: 700px;
	margin: 0 auto;
	text-align: justify;
	font-size: 12px;
}
button:focus{
	outline: none;
}